<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:theme="@style/AppTheme"
        android:label="Kun Online Caller ID"
        android:allowBackup="false"
        android:usesCleartextTraffic="false">
        <activity
            android:name=".CallerCardActivity"
            android:exported="false"
            android:excludeFromRecents="true"
            android:theme="@style/CallerCardTheme" />

        <activity
            android:name=".KunOnlineWebActivity"
            android:exported="false"
            android:theme="@style/AppTheme" />

        <activity android:name=".MainActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".KunCallScreeningService"
            android:permission="android.permission.BIND_SCREENING_SERVICE"
            android:exported="true">
            <intent-filter>
                <action android:name="android.telecom.CallScreeningService" />
            </intent-filter>
        </service>

        <service
            android:name=".SyncJobService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="false" />

        <receiver android:name=".BootReceiver" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
